<mat-card>
    <mat-card-title>Rezervasyonlar</mat-card-title>

    <!-- Rezervasyon Ekle Butonu -->
    <button mat-raised-button color="accent" routerLink="/reservation-create" style="margin-bottom: 20px;">
      Rezervasyon Ekle
    </button>
    
    <table mat-table [dataSource]="reservations" class="mat-elevation-z8" *ngIf="reservations.length > 0">
      
      <!-- Kullanıcı Adı -->
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef> Kullanıcı Adı </th>
        <td mat-cell *matCellDef="let reservation"> 
          {{ reservation?.user?.firstName || 'Bilinmiyor' }} {{ reservation?.user?.lastName || '' }} 
        </td>  
      </ng-container>
  
      <!-- Uçuş -->
      <ng-container matColumnDef="flightDetails">
        <th mat-header-cell *matHeaderCellDef> Uçuş </th>
        <td mat-cell *matCellDef="let reservation"> 
          {{ reservation?.flight?.departureCity || 'Bilinmiyor' }} - {{ reservation?.flight?.arrivalCity || 'Bilinmiyor' }} 
        </td>
      </ng-container>
  
      <!-- Rezervasyon Tarihi -->
      <ng-container matColumnDef="reservationDate">
        <th mat-header-cell *matHeaderCellDef> Rezervasyon Tarihi </th>
        <td mat-cell *matCellDef="let reservation"> 
          {{ reservation?.reservationDate | date:'dd.MM.yyyy' }} 
        </td>
      </ng-container>
  
      <!-- İşlemler -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> İşlemler </th>
        <td mat-cell *matCellDef="let reservation">
          <button mat-raised-button color="warn" (click)="deleteReservation(reservation.id)">Sil</button>
          <button mat-raised-button color="primary" routerLink="/reservation-edit/{{reservation.id}}">Düzenle</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['userName', 'flightDetails', 'reservationDate', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['userName', 'flightDetails', 'reservationDate', 'actions'];"></tr>
    </table>
</mat-card>
