<div class="reservationCenter">
  <mat-card class="matCardSize">
    <mat-card-header>
      <mat-card-title style="font-size: xx-large;">Yeni Rezervasyon Oluştur</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
      <form [formGroup]="reservationForm" (ngSubmit)="createReservation()" class="d-flex flex-column">
        <!-- İlk Satır: Uçuş ID ve Kullanıcı ID -->
        <div class="inputRow">
          <mat-form-field class="custom-background" appearance="outline">
            <mat-label>Uçuş ID</mat-label>
            <input matInput formControlName="flightId" placeholder="1">
            <mat-error *ngIf="reservationForm.get('flightId')?.hasError('required')">
              Uçuş ID zorunludur.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="custom-background" appearance="outline">
            <mat-label>Kullanıcı ID</mat-label>
            <input matInput formControlName="userId" placeholder="1">
            <mat-error *ngIf="reservationForm.get('userId')?.hasError('required')">
              Kullanıcı ID zorunludur.
            </mat-error>
          </mat-form-field>
        </div>

        <!-- İkinci Satır: Koltuk Sayısı ve Rezervasyon Tarihi -->
        <div class="inputRow">
          <mat-form-field class="custom-background" appearance="outline">
            <mat-label>Koltuk Sayısı</mat-label>
            <input matInput formControlName="numberOfSeats" type="number" placeholder="2">
            <mat-error *ngIf="reservationForm.get('numberOfSeats')?.hasError('required')">
              Koltuk sayısı zorunludur.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="custom-background" appearance="outline">
            <mat-label>Rezervasyon Tarihi</mat-label>
            <input matInput formControlName="reservationDate" type="date">
            <mat-error *ngIf="reservationForm.get('reservationDate')?.hasError('required')">
              Rezervasyon tarihi zorunludur.
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Butonlar -->
        <div class="reservationFootbar">
          <button mat-raised-button color="primary" type="submit" [disabled]="reservationForm.invalid">Rezervasyon Oluştur</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
