<mat-toolbar color="primary">
  <span>Uçuş Yönetim Sistemi</span>
  <span class="spacer"></span>

  <!-- Kullanıcı giriş yapmışsa -->
  <ng-container *ngIf="isLoggedIn()">
    <span>Hoş geldiniz, {{ getUserName() }}!</span>
    <button mat-button routerLink="/flights">Uçuşlar</button>
    <button mat-button routerLink="/reservations">Rezervasyonlar</button>
    <button mat-button (click)="logout()">Çıkış Yap</button>
  </ng-container>

  <!-- Kullanıcı giriş yapmamışsa -->
  <ng-container *ngIf="!isLoggedIn()">
    <button mat-button routerLink="/login">Giriş Yap</button>
    <button mat-button routerLink="/register">Kayıt Ol</button>
  </ng-container>
</mat-toolbar>
<router-outlet></router-outlet>
